<h1>About</h1>

<%# series_a = {"10" => -5, "11" => 9,"12" => 3,"13" => -1,"14" => 4,"15" => -2,"16" => -4} %>

<%#= line_chart [{name: "Series A", data: series_a}] %>
<%= @result.class %>


      
  