<div>
  <%= image_tag("openFDA.png", class: "logo") %>  
  <%= image_tag("oink.jpg", class: "logo1") %>
</div>

<div class="jumbotron center">
  <h1>Our mission</h1>
  <p>We aim to scratch your thoppais</p>
</div>

      
  