<div class = "abouttext">
  <h1 id = "homeheader">About inSIGHT</h1>
  <p id = "aboutpara">inSIGHT is an experimental research application created to allow you to visualize trends in
  opthalmic drug/device regulatory data</p>
  <br>
  <p id = "aboutpara"> inSIGHT was developed by the Digital Health lab(D-HEALTH) at the University
  of Southern California</p>
</div>


      
  