<%= render 'layouts/pagination' %>

<div class="container page_header">
  <div class="jumbotron text-center">
    <h1>Ophthalmology</h1>
    <p>Some sub heading</p> 
  </div>
</div>

<div class="graph">
  <%= column_chart [{name: "Number of Applicants from each state", data: @plotOne}], xtitle: "States", 
  ytitle: "Number of applicants" %> 
</div>

<div class = "well explanation">
  <p>Column chart for comparison between state and submissions</p>
</div>






<%#= line_chart [
  {name: @result[0][0], data: @result[0][1]},
  {name: @result[1][0], data: @result[1][1]},
], xtitle: "Time interval", ytitle: "Number of applications" %>
