<div class = "jumbotron1"></div>
<div class="hometext">
  <h1 id = "homeheader">This Page Is Coming Soon</h1>
  <p id = "homepara">In the mean time, look at some of our other pages</p>
  <%= link_to 'View our content', content_path, class: "btn btn-primary btn-lg" %> 
  <%= link_to 'Home', root_path, class:"btn btn-primary btn-lg" %>
</div>

<%= render 'layouts/footer' %>