<%= render 'layouts/pagination' %>

<div class="container page_header">
  <div class="jumbotron text-center">
    <h1>Ophthalmology</h1>
    <p>Some sub heading</p> 
  </div>
</div>


<div class = "graph">
  <%= column_chart [{name: "How applications differ with respect to time", data: @plotTwo}], ytitle: "Number of applications", xtitle: "Time interval" %>
</div>
<div class = "graph">
  <%= line_chart [{name: "Trend of applications from 2000-2016", data: @yearly}], ytitle: "Number of applications", xtitle: "Years" %>  
</div>

