$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

.navfont {
display: inline;
color: red;                        
font-family: Garamond;
font-size: 1.5em;
padding: 5px 20px;
}

.center {
  text-align: center;
  font-style: italic;
}

.jumbotron1 {
  

background-image: asset-url('BPSNQ430BV.jpg');
background-size: cover;
overflow: hidden;
height: 700px;

}



footer {

margin-top: 45px;

padding-top: 5px;

border-top: 1px solid #eaeaea;

color: #777;

}

footer a:hover {

color: #222;

}

footer small {

float: left;

}

footer ul {

float: right;

list-style: none;

}

footer ul li {

float: left;

margin-left: 15px;

}

.logo {
margin-left: 200px;
width: auto;
height: auto;

}

.logo1 {
margin-left: 250px;
margin-right: 150px;
width: auto;
height: auto;
}

.graph {
  
height: auto;
width: auto;
}

.explanation {

text-align: center;
padding-top: 30px;
}





