<ul class="breadcrumb navfont">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'States', content_path %></li>
  <li><%= link_to 'Time', time_path %></li>
  <li><%= link_to 'Device', device_path %></li> 
</ul>
