<div class = "pages">
  <ul class="breadcrumb breadSize">
    <li><%= link_to 'States', content_path %></li>
    <li><%= link_to 'Time', time_path %></li>
    <li><%= link_to 'Device Class', device_path %></li> 
  </ul>
</div>
